<header>

    <div id="melonz-logotype" onclick="window.location = '/'" style="cursor: pointer;">&nbsp;</div>

    <div id="social">
        <a href="https://www.facebook.com/melonzdev" class="s s-f" title="Facebook"><i class="fab fa-facebook fa-fw"></i></a>
        <a href="https://twitter.com/melonzdev" class="s s-t" title="Twitter"><i class="fab fa-twitter fa-fw"></i></a>
        <a href="https://github.com/Melonz" class="s s-g" title="GitHub Org"><i class="fab fa-github fa-fw"></i></a>
        <a href="https://git.melonz.nl/melonz" class="s s-s" title="Git Server"><i class="fab fa-git fa-fw"></i></a>
        <a href="https://discord.gg/rQBPWrV" class="s s-d" title="Discord Server"><i class="fab fa-discord fa-fw"></i></a>
        <a href="/team/" class="s s-u" title="Our Team"><i class="fas fa-users fa-fw"></i></a>
        <a href="/blog/" class="s s-b" title="Blog/News"><i class="fa fa-newspaper fa-fw"></i></a>
        <a href="https://wiki.melonz.nl" class="s s-w" title="Wiki (Documentation)"><i class="fas fa-book fa-fw"></i></a>
        <a href="mailto:hello@melonz.nl" class="s s-e" title="Email Us"><i class="fas fa-envelope fa-fw"></i></a>
    </div>

</header>
