<header>

    <div id="melonz-logotype" onclick="window.location = '/'" style="cursor: pointer;">&nbsp;</div>

    <div id="social">

        <a href="https://www.facebook.com/melonzdev" class="s-f"><i class="fab fa-facebook fa-fw"></i></a>
        <a href="https://twitter.com/melonzdev" class="s-t"><i class="fab fa-twitter fa-fw"></i></a>
        <a href="https://github.com/Melonz" class="s-g"><i class="fab fa-github fa-fw"></i></a>
        <a href="https://discord.gg/rQBPWrV" class="s-d"><i class="fab fa-discord fa-fw"></i></a>
        <a href="https://blog.melonz.nl" class="s-b"><i class="fa fa-newspaper fa-fw"></i></a>
        <a href="mailto:hello@melonz.nl" class="s-e"><i class="fas fa-envelope fa-fw"></i></a>
    </div>

</header>
